/Users/wayneherridge/Documents/GitHub/wdd331-group1/group1-style-guide/node_modules
/Users/wayneherridge/Documents/GitHub/wdd331-group1/group1-style-guide/build
/Users/wayneherridge/Documents/GitHub/wdd331-group1/group1-style-guide/*.css
/Users/wayneherridge/Documents/GitHub/wdd331-group1/group1-style-guide/.cache
/Users/wayneherridge/Documents/GitHub/wdd331-group1/group1-style-guide/build