/* -------------------------------- 
	BASIC STYLE PARTIAL
-------------------------------- */

*, *::after, *::before {
	box-sizing: border-box;
}

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: $primary-font;
}

a {
	text-decoration: underline;

	color: $color-4;
	&:hover {
		color: $color-3;
	}
	&:active {
		color: $color-5;
		background-color: $color-4;
	}
}

img {
	max-width: 100%;
}

header {
	width: 100%;
}