/* -------------------------------- 
	BASIC STYLE PARTIAL
-------------------------------- */

*, *::after, *::before {
	box-sizing: border-box;
	/*
	@include box-sizing(border-box);
	*/
}

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: $primary-font;
}

a {
	text-decoration: underline;

	color: $color-4;
	&:hover {
		color: $color-3;
	}
	&:active {
		color: $color-5;
		background-color: $color-4;
	}
}

img {
	max-width: 100%;
}

input, textarea, select {
	font-family: $primary-font;
	font-size: 1.6rem;
}

header {
	// position: fixed;
	width: 100%;

	nav {
		display: inline-block;
	}

	@include MQ(M) {
		// @include clearfix;
	}
}

main {
	width: 90%;
	max-width: $M;
	margin: 0 auto;
	padding: 50px 0;

	> h1 {
		text-align: center;
		margin: 3em 0;
	}

	@include MQ(M) {
		// padding-top: 80px;
	}

	@include MQ(L) {
		max-width: none;
		padding: 120px 0 50px;

		> h1 {
			position: fixed;
			top: 0;
			left: 50%;
			height: 80px;
			line-height: 80px;
			width: 400px;
			margin: 0 0 0 -200px;
			font-size: 2.6rem;
			z-index: 20;
		}
	}
}

section {
	@include MQ(L) {
		@include column(.48);
		// margin: 0 4% 4em 0;

		&:nth-of-type(2n) {
			// margin-right: 0;
		}
	}
}