// Selected Colors for CSS Zen Garden
$color-1 : #6E352C; // Spice - Action color
$color-2 : #CF5230; // Tuscany
$color-3 : #F59A44; // Jaffa
$color-4 : #8A6E64; // Sand Dune
$color-5 : #ffffff; // white


// Selected Fonts for CSS Zen Garden
$primary-font: 'Merriweather Sans', sans-serif;
$secondary-font: 'Catamaran', sans-serif;
$title-font: 'Josefin Sans';