@import 'partials/reset';
@import 'partials/prefix-mixins';
@import 'partials/layout';
@import 'partials/colors';
// responsive grid and media queries
// fonts
$primary-font: 'Merriweather Sans', sans-serif;
$secondary-font: 'Catamaran', sans-serif;
$title-font: 'Josefin Sans';

/* --------------------------------

xBackground

-------------------------------- */

@import './partials/background.scss';

/* --------------------------------

xPatterns

-------------------------------- */

.cd-box {
    /* this is the container of various design elements - i.e. the 2 logo of the branding section */
    border: 1px solid $color-4;
    border-radius: 3px;
    background: $color-5;
    box-shadow: 0 1px 1px rgba(#000, 0.05);
    padding: 6px;
}


/* --------------------------------

xNavigation

-------------------------------- */

@import 'partials/navigation';

/* --------------------------------

xPage title

-------------------------------- */

main>h1 {
    color: $color-2;
    @include MQ(L) {
        /* title goes into the header on big devices */
        color: $color-5;
    }
}


/* --------------------------------

xTypography

-------------------------------- */

@import './partials/typography.scss';

/* --------------------------------

xButtons

-------------------------------- */

@import './partials/_buttons.scss';

/* --------------------------------

xIcons

-------------------------------- */

@import 'partials/icons';

/* --------------------------------

xForm

-------------------------------- */

@import 'partials/form';
@import 'partials/basic-style';
