// color palette - these colors will be the color swatches of the Colors section
$color-1 : #6E352C; // Spice - Action color
$color-2 : #CF5230; // Tuscany
$color-3 : #F59A44; // Jaffa
$color-4 : #8A6E64; // Sand Dune
$color-5 : #ffffff; // white
// additional colors
$success: #6fce72; // green
$alert: $color-3; // red
