@media only screen and (min-width: 64rem) {

    #css-zen-garden {
        max-width: 64rem;
        margin: auto;
    }

    .page-wrapper {
      display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "preamble preamble explanation explanation"
  "participation participation participation benefits"
  "requirements requirements requirements requirements";
    }

    .banner {
      display: inline-block;
      span: 4;
    }

    .preamble {
      grid-area: preamble;
    }

    .explanation {
      grid-area: explanation;
    }

    .participation {
      grid-area: participation;
    }

    .benefits {
      grid-area: benefits;
    }

    .requirements {
      grid-area: requirements;
    }



}
