@media only screen and (min-width: 64rem) {

    #css-zen-garden {
        max-width: 64rem;
        margin: auto;
    }

    .page-wrapper {
      display: grid;
    }

    .preamble {
      grid-template-columns: 1fr 1fr;
    }

}
