@media only screen and (min-width: 64rem) {

    #css-zen-garden {
        max-width: 64rem;
        margin: auto;
    }

    .page-wrapper {
      display: grid;
    }

    .preamble .explanation {
      column-count: 2;
    }

}
